.start main {
	width: 100%;
	height: 100vh;
	display: flex;
	gap: 4px 4px;
	flex-wrap: wrap;
	overflow: hidden;
	position: relative;
}

.start video {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	filter: grayscale(100%);
	object-fit: cover;
	z-index: 10;
}

.start main::before {
	position: absolute;
	content: "";
	background: linear-gradient(to bottom, transparent 0%, #111 80%);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 12;
}
.start main::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
}

.start main .mainText {
	position: absolute;
	max-width: 1200px;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -35%);
	z-index: 13;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10em;
}

.start main .mainText h2 {
	font-size: 5em;
	position: relative;
	color: var(--white-color);
	transition: all 0.5s;
	font-family: var(--point-font);
}

.start main .mainText h2 span {
	color: var(--point-color);
}

.start main .mainText p {
	color: var(--white-color);
    font-weight: 300;
    font-size: 1.125em;
    text-shadow: none;
    letter-spacing: 1px;
	line-height: 1.5;
	padding-top: 10px;
}

.start .mainText .linkWrap ul {
	display: flex;
	justify-content: space-between;
}

.start .mainText .linkWrap ul li {
	color: var(--white-color);
	border-right: 2px solid var(--white-color);
	width: 33%;
	flex-grow: 1;
	text-align: center;
	transition: color 0.5s;
	cursor: pointer;
	font-size: 2em;
}

.start .mainText .linkWrap ul li:hover {
	color: var(--point-color);
}

.start .mainText .linkWrap ul li:last-child {
	border-right: none;
}

.scrollBtn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 998;
  animation: scrollAnim 1.2s infinite;
}

.scrollBtn span {
  color: var(--white-color);
}

@keyframes scrollAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* responsive */

@media only screen and (max-width: 1200px) {
	.start main .mainText {
		padding: 0 20px;
	}
}

@media only screen and (max-width: 640px) {
	.start main .mainText {
		font-size: 13px;
		padding: 0 20px;
	}
}